.black-header-wrapper {
  height: 54px;
  background: #000;

  .inner-wrapper {
    width: 74vw;

    .contact-details {
      ul {
        li {
          &:not(:first-child) {
            margin-left: 35px;
          }
          a {
            font: 400 clamp(1.4rem, 1.2vw, 1.5rem) 'Open Sans', sans-serif;
            &:hover {
              text-decoration: none !important;
            }
            i {
              margin-right: 12px;
              color: #facf27;
            }
          }
        }
      }
    }

    .media-icons {
      ul {
        li {
          &:not(:last-child) {
            margin-right: 12px;
          }
          .instagram {
            background: radial-gradient(
              circle at 30% 107%,
              #fdf497 0%,
              #fdf497 5%,
              #fd5949 45%,
              #d6249f 60%,
              #285aeb 90%
            );
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          i {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}
.login_wrapper {
  height: calc(100vh - 54px);
  max-height: calc(100vh - 54px);
  flex-direction: row;

  .full-img {
    img {
      object-fit: cover;
    }
  }

  .login_details {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0px 50px 0;

    .login-wrapper {
      flex-direction: column;

      .navlinks {
        ul {
          li {
            &:not(:last-child) {
              margin-right: 30px;
            }

            a {
              font: 700 clamp(1.2rem, 1vw, 1.4rem) 'Open Sans', sans-serif;
              color: #000000;

              &:hover {
                text-decoration: none !important;
              }
            }
          }
          .active {
            background: #ff0000;
            border-radius: 6px;
            padding: 8px 10px;

            a {
              color: #fff;
            }
          }
        }
      }

      .login_info {
        h3 {
          font: 800 clamp(2.8rem, 2vw, 4.5rem) 'Open Sans', sans-serif;
          margin-bottom: 0;
        }
        p {
          font: 400 clamp(1.2rem, 1vw, 1.6rem) 'Open Sans', sans-serif;
        }
        .input-wrapper {
          margin-top: 25px;
          .input-group {
            height: clamp(5rem, 3.5vw, 60px);

            .over-ico {
              z-index: 11;
              top: 50%;
              left: 5%;
              transform: translateY(-50%);
            }
            input {
              background: #fff4d7;
              border-radius: 30px;
              padding-left: 60px;
              outline: none;
              font: 400 clamp(1rem, 1.5vw, 16px) 'Open Sans', sans-serif;
              color: #f45821;

              &:focus {
                outline: none;
                box-shadow: none;
                border: 0;
              }
              &:active {
                outline: none;
                box-shadow: none;
                border: 0;
              }
              &::placeholder {
                font: 400 clamp(1.2rem, 1.5vw, 16px) 'Open Sans', sans-serif;
                color: #f45821;
              }
            }
          }
          .login-button-wrapper {
            .login-btn {
              width: clamp(7rem, 6vw, 9.438rem);
              // height: clamp(2rem, 3.5vw, 4.5rem);
              padding: clamp(10px, 1vw, 15px);
              background: #390bbe;
              font: 800 clamp(1.2rem, 1.3vw, 1.62rem) 'Open Sans', sans-serif;
              border-radius: 8px;
              outline: none;
              span {
                margin-top: -1px !important;
              }
            }
            .register-now-account {
              margin-left: 35px;
              h5 {
                font: 400 clamp(1.2rem, 1.2vw, 1.313rem) 'Open Sans', sans-serif;
                color: #000;
                margin: 0 !important;
              }
              a {
                font: 600 clamp(1.8rem, 1.5vw, 2.5rem) 'Open Sans', sans-serif;
                color: #000;
                margin: 0 !important;
              }
            }
          }
        }
      }
      .you-can-join {
        margin-top: 32px;

        h4 {
          font: 800 24px 'Open Sans', sans-serif;
          color: #000;
          margin-bottom: 13px;
        }

        .flex_wrapper {
          .circle-icon {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background: orange;
            margin: 0 7px;
            &:first-child {
              background: #3b5998;
            }
            &:nth-child(2) {
              background: #26a6d1;
            }
            &:nth-child(3) {
              background: #3f729b;
            }
            &:last-child {
              background: #dd4b39;
            }
            i {
              color: #fff;
              font-size: 16px;
            }
          }
        }
      }
      .footer_wrapper {
        p {
          font: 800 clamp(1.2rem, 0.8vw, 1.6rem) 'Open Sans', sans-serif;
          color: #616060;
        }
      }
    }
  }
}
@media screen and (min-width: 450px) and (max-width: 820px) {
  .login_info {
    width: 70%;
    margin: 0 auto;
  }
  .login_wrapper
    .login_details
    .login-wrapper
    .login_info
    .input-wrapper
    .login-button-wrapper
    .register-now-account {
    margin-left: 20px;
  }
}
@media screen and (min-width: 820.5px) and (max-width: 992px) {
  .login_wrapper .login_details .login-wrapper {
    width: 85% !important;
  }
}
@media screen and (min-width: 992.5px) and (max-width: 1200px) {
  .login_wrapper .login_details .login-wrapper {
    width: 60% !important;
  }
  .login_wrapper
    .login_details
    .login-wrapper
    .login_info
    .input-wrapper
    .login-button-wrapper
    .register-now-account {
    margin-left: 20px;
  }
}
@media screen and (max-width: 820px) {
  .login_wrapper .login_details {
    padding: 30px 0;
  }
  .login_details {
    background-position: right !important;
  }
  .black-header-wrapper .inner-wrapper {
    width: 100%;
    padding: 0 30px;
  }
  .black-header-wrapper .contact-details,
  .full-img {
    display: none;
  }
  .black-header-wrapper .inner-wrapper,
  .black-header-wrapper .media-icons,
  .login_wrapper .login_details,
  .login_wrapper .login_details .login-wrapper {
    width: 100% !important;
  }
  .login_wrapper .login_details .login-wrapper {
    padding: 0 30px;
  }
  .login_wrapper
    .login_details
    .login-wrapper
    .login_info
    .input-wrapper
    .login-button-wrapper
    .register-now-account {
    margin-left: 20px;
  }
}
