.portfolio-page {
  .profolio-wrapper {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    ul {
      gap: 2.5rem;
      flex-wrap: wrap;

      li {
        width: 33rem;
      }
    }
    .profolio-cards {
      padding: 15px 20px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 24px,
        rgba(0, 0, 0, 0.22) 0px 8px 8px;

      .total-count {
        h6,
        h3 {
          color: #000;
        }
        h6 {
          margin-bottom: 2rem !important;
          font: 600 1.6rem 'Open Sans', sans-serif;
        }
        h3 {
          font: 800 2.8rem 'Open Sans', sans-serif;
        }
      }
      .icon-circle {
        width: 5rem;
        height: 5rem;
        background: #f55621;
      }
    }
  }
  .tabchanging-wrapper {
    .total-price {
      font: 800 1.8rem 'Open Sans', sans-serif !important;
      color: #2162f5;
    }
    .inner-wrapper {
      padding: 20px 15px;

      .titile {
        font: 800 1.6rem 'Open Sans', sans-serif !important;
        color: #000 !important;
      }
    }

    #tabs {
      list-style-type: none;
      li {
        display: inline-block;
        margin-bottom: -1px;
        padding-bottom: 15px;

        &:nth-child(2) {
          margin: 0 1rem;
        }
        a {
          display: block;
          height: 100%;
          padding-bottom: 1rem;
          color: #000;
          font: 800 1.6rem 'Open Sans', sans-serif !important;

          &:hover {
            color: #000;
          }
        }
        &.active a {
          background-color: transparent;
          font: 800 1.6rem 'Open Sans', sans-serif !important;
          border-bottom: 2px solid #f55621;
          color: #f55621;
        }
      }
    }

    #tab-contents {
      .tab-contents {
        padding: 10px;
        display: none;
        &.active {
          display: block;
        }
        .content-tab {
          h3 {
            font: 800 16px 'Open Sans', sans-serif !important;
            color: #000;
          }
          span {
            font: 500 16px 'Open Sans', sans-serif !important;
            color: #4f4d4d;
          }
          .pending {
            font: 800 16px 'Open Sans', sans-serif !important;
            color: #2162f5;
          }
        }
      }
    }

    #tabs-second {
      list-style-type: none;
      border-bottom: 2px solid #e4e3e7;
      li {
        display: inline-block;
        padding-bottom: 0 !important;
        margin-bottom: -2px;
        padding: 0 17px;

        &:nth-child(2) {
          margin: 0 10px;
        }
        a {
          display: block;
          height: 100%;
          padding-bottom: 10px;
          font: 800 1.6rem 'Open Sans', sans-serif !important;
          color: #000;
          text-align: center;

          &:hover {
            color: #000;
          }
        }
        &.active-demostic a {
          background-color: transparent;
          font: 800 1.6rem 'Open Sans', sans-serif !important;
          border-bottom: 2px solid #f55621;
          color: #f55621;
        }
      }
    }

    #tab-contents-second {
      .tab-contents-second {
        padding: 10px 20px 0 20px;
        display: none;
        &.active-demostic {
          display: block;
        }
        .content-tab {
          h3 {
            font: 800 16px 'Open Sans', sans-serif !important;
            color: #000;
          }
          span {
            font: 500 16px 'Open Sans', sans-serif !important;
            color: #4f4d4d;
          }
          .pending {
            font: 800 16px 'Open Sans', sans-serif !important;
            color: #2162f5;
          }
        }
      }
    }

    #tabs-third {
      list-style-type: none;
      border-bottom: 2px solid #e4e3e7;
      li {
        display: inline-block;
        padding-bottom: 0 !important;
        margin-bottom: -2px;
        padding: 0 17px;

        &:nth-child(2) {
          margin: 0 10px;
        }
        a {
          display: block;
          height: 100%;
          padding-bottom: 10px;
          font: 800 1.6rem 'Open Sans', sans-serif !important;
          color: #000;
          text-align: center;

          &:hover {
            color: #000;
          }
        }
        &.active-third a {
          background-color: transparent;
          font: 800 1.6rem 'Open Sans', sans-serif !important;
          border-bottom: 2px solid #f55621;
          color: #f55621;
        }
      }
    }

    #tab-contents-third {
      .tab-contents-third {
        padding: 10px 20px 0 20px;
        display: none;
        &.active-third {
          display: block;
        }
        .content-tab {
          h3 {
            font: 800 16px 'Open Sans', sans-serif !important;
            color: #000;
          }
          span {
            font: 500 16px 'Open Sans', sans-serif !important;
            color: #4f4d4d;
          }
          .pending {
            font: 800 16px 'Open Sans', sans-serif !important;
            color: #2162f5;
          }
        }
      }
    }
  }
  .total-aeps {
    .inner-wrapper {
      padding: 25px 0;
    }
    .titile {
      padding: 0 20px;
    }
  }
  .domestic {
    .inner-wrapper {
      padding: 25px 0;
    }
    .titile {
      padding: 0 20px;
    }
  }
  @media screen and (max-width: 768px) {
    .profolio-wrapper .profolio-cards .total-count h3 {
      font: 800 20px 'Open Sans', sans-serif !important;
      color: #000 !important;
    }
    .tabchanging-wrapper #tab-contents .tab-contents .content-tab h3 {
      font: 800 12px 'Open Sans', sans-serif !important;
    }
    .tabchanging-wrapper .total-price {
      font: 800 14px 'Open Sans', sans-serif !important;
      color: #2162f5;
    }
  }
}
