@media (min-width: 1200px) {
  .sidenav.fixed-start + .main-content {
    margin-left: 18.125rem !important;
  }
  .sidenav.fixed-start + .main-content.hideshow-sidebar {
    margin-left: 0;
  }
}
#sidenav-main.hideshow-sidebar {
  width: 0 !important;
}
.navbar-vertical.navbar-expand-xs .navbar-collapse {
  height: calc(100vh - 0px) !important;
}
.sidenav .navbar-brand {
  position: sticky;
}
.navbar-brand img {
  max-width: 140px;
}
.navbar .nav-link {
  font: 800 16px 'Open Sans', sans-serif !important;
  color: #000 !important;
}
.sidenav .nav-item {
  margin-top: 20px !important;
}
.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link {
  margin-right: 0 !important;
}
.navbar-vertical .navbar-nav > .nav-item .nav-link.active {
  background-color: #e0dee4 !important;
  border-radius: 0.8rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
  font: 800 16px 'Open Sans', sans-serif !important;
  color: #000 !important;
}
.navbar-vertical .navbar-nav > .nav-item .nav-link.active::after {
  content: '';
  width: 5px;
  height: 100%;
  position: absolute;
  z-index: 5;
  background: #f55621;
  top: 0;
  right: 0;
  bottom: 0;
}
.navbar::marker {
  display: none !important;
}
.navbar .sidenav-toggler-inner {
  width: 25px !important;
}
.navbar .sidenav-toggler-inner .sidenav-toggler-line {
  background: #f55621 !important;
  height: 4px !important;
  border-radius: 2px !important;
}
.navbar .title-header {
  font: 800 22px 'Open Sans', sans-serif !important;
  color: #000 !important;
}
.navbar .search-filed .input-group {
  width: 20vw;
  height: 45px;
  background: #e4e3e7;
}
.navbar .search-filed .input-group input {
  width: 100%;
  height: 100%;
  padding-left: 35px;
  font: 700 14px 'Open Sans', sans-serif !important;
  color: #83828a !important;
}
.navbar .search-filed .input-group .search-icon {
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
}
.navbar .search-filed .input-group input::placeholder {
  font: 700 14px 'Open Sans', sans-serif !important;
  color: #83828a !important;
}
.navbar .wallet-balence .main-walletimg {
  max-width: 50px;
}
.header-bashboard {
  .user-profile {
    margin-left: 15px;
    .user-avtar {
      width: 40;
      height: 40px;
      border-radius: 50%;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .user-details {
      margin-left: 10px;
      h2 {
        padding: 0;
        margin: 0;
        font: 800 16px 'Open Sans', sans-serif !important;
        color: #83828a;
      }
      h5 {
        padding: 0;
        margin: 0;
        font: 500 14px 'Open Sans', sans-serif !important;
        color: #83828a;
      }
    }
  }
  .wallet-balence-dropdown {
    .flex_wrapper {
      .wallet-options {
        .wallet-name {
          margin-left: 9px !important;

          span {
            color: #f55621;
            padding: 0;
            margin: 0;
            font: 500 16px/16px 'Open Sans', sans-serif !important;
          }

          h4 {
            color: #f55621;
            padding: 0;
            margin: 0;
            font: 800 20px/20px 'Open Sans', sans-serif !important;
          }
        }
      }
      .balence-show {
        margin-left: 40px;
        h3 {
          font: 800 24px 'Open Sans', sans-serif !important;
          color: #000;
        }
      }
      .sign-out {
        color: #f55621;
        padding: 0;
        margin: 0;
        font: 800 20px/20px 'Open Sans', sans-serif !important;
        white-space: nowrap !important;
        margin-right: 20px;
      }
    }
  }
}

.pannel-content {
  min-height: calc(100vh - 200px);
  padding: 0px 50px 50px 50px;
}

.title-dashboard {
  font: 800 24px 'Open Sans', sans-serif !important;
  color: #000 !important;
  margin-bottom: 30px;
}
.services-title {
  font: 800 16px 'Open Sans', sans-serif !important;
  color: #000 !important;
}

.services-wrapper {
  ul {
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;

    li {
      margin-right: 30px;
      margin-bottom: 30px;

      img {
        max-width: 80px;
        height: 80px;
        object-fit: contain;
        margin-bottom: 15px !important;
      }
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}
.bbps-services {
  ul {
    li {
      max-width: 15%;
    }
  }
}
